In [1]:
import sqlite3

In [2]:
connection = sqlite3.connect('example.db')

In [3]:
cursor = connection.cursor()

In [4]:
# Create a Table 
cursor.execute('''
Create Table If Not Exists employees(
               id Integer Primary Key,
               name Text Not Null,
               age Integer,
               department Text
               )
''')

# Commit the changes
connection.commit()

In [5]:
cursor.execute('''
Select * from employees
''')

In [6]:
# Insert the data in the table 
cursor.execute('''
Insert Into employees(name,age,department)
               values('Turan',22,'ECE')
''')

cursor.execute('''
Insert Into employees(name,age,department)
               values('Bob',22,'ECE')
''')

cursor.execute('''
Insert Into employees(name,age,department)
               values('John',22,'ECE')
''')

# commit the changes 
connection.commit()

In [13]:
# Query the data from table 
cursor.execute('Select * from employees')
rows = cursor.fetchall()

# print the query 
for row in rows:
    print(row)

(1, 'Turan', 22, 'ECE')
(2, 'Bob', 25, 'ECE')
(3, 'John', 22, 'ECE')

In [14]:
# Update the data 
cursor.execute('''
UPDATE employees
Set age = 25
where name = 'Bob'
''')

connection.commit()

In [18]:
# Delete the data 
cursor.execute('''
Delete from employees
               where name = "John"            
''')

connection.commit()

In [20]:
connection = sqlite3.connect('sales.db')
cursor = connection.cursor()

cursor.execute('''
CREATE Table IF NOT EXISTS sales (
               id INTEGER PRIMARY KEY,
               date TEXT NOT NULL,
               product TEXT NOT NULL,
               sales INTEGER,
               region TEXT
               )
''')

sales_data = [
    ('2023-01-01', 'Product1', 100, 'North'),
    ('2023-01-02', 'Product2', 200, 'South'),
    ('2023-01-03', 'Product1', 150, 'East'),
    ('2023-01-04', 'Product3', 250, 'West'),
    ('2023-01-05', 'Product2', 300, 'North'),
]

cursor.executemany('''
Insert into sales(date,product,sales,region)
                   values(?,?,?,?)
''',sales_data)

connection.commit()

In [21]:
# Query the data from table 
cursor.execute('Select * from sales')
rows = cursor.fetchall()

# print the query 
for row in rows:
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'South')
(3, '2023-01-03', 'Product1', 150, 'East')
(4, '2023-01-04', 'Product3', 250, 'West')
(5, '2023-01-05', 'Product2', 300, 'North')

In [22]:
# close the connection 
connection.close()